[submodule "vendor/swift-mode"]
	path = vendor/swift-mode
	url = https://github.com/chrisbarrett/swift-mode.git
[submodule "vendor/haskell-mode"]
	path = vendor/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
