[submodule "vendor/swift-mode"]
	path = vendor/swift-mode
	url = https://github.com/chrisbarrett/swift-mode.git
[submodule "vendor/haskell-mode"]
	path = vendor/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "vendor/flycheck-haskell"]
	path = vendor/flycheck-haskell
	url = https://github.com/flycheck/flycheck-haskell.git
[submodule "vendor/hc-zenburn-theme"]
	path = vendor/hc-zenburn-theme
	url = https://github.com/edran/hc-zenburn-emacs.git
