[submodule "vendor/swift-mode"]
	path = vendor/swift-mode
	url = https://github.com/chrisbarrett/swift-mode.git
[submodule "vendor/hc-zenburn-theme"]
	path = vendor/hc-zenburn-theme
	url = https://github.com/nathankot/hc-zenburn-emacs.git
[submodule "vendor/stack-ide"]
	path = vendor/stack-ide
	url = https://github.com/commercialhaskell/stack-ide.git
[submodule "vendor/company-sourcekit"]
	path = vendor/company-sourcekit
	url = https://github.com/nathankot/company-sourcekit.git
[submodule "vendor/linum-relative"]
	path = vendor/linum-relative
	url = https://github.com/coldnew/linum-relative.git
[submodule "vendor/ghc-mod"]
	path = vendor/ghc-mod
	url = https://github.com/kazu-yamamoto/ghc-mod.git
