elpa/
projectile-bookmarks.eld
smex-items
ido.last
projectile.cache
.org-id-locations
saveplaces
.sx
url/cache
.cask
var
magithub
transient
.lsp-session*
go.mod
go.sum
.cache
straight/repos
straight/build
straight/build-cache.el
straight/modified
